.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #39aebc !important;
}
body{
  height: 100vh !important;
}

.custom-modal .modal-dialog {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 50% !important;
  margin: 0 !important;
}

.custom-modal .modal-content {
  height: 100% !important;
  border-radius: 0 !important;
}

.modal-dialog {
  margin-right: 0px !important;
  margin-top: 0px !important;
  height: 100% !important;
}

.modal-content {
  height: 100% !important;
}

.modal-header {
  background-color: #39aebc !important;
}

.modal-title {
  color: white !important;
  display: flex;
  align-items: center;
}

.btn-close {
  color: white !important;
}

.icon-green {
  fill: rgb(0, 176, 0) !important;
  margin-bottom: -1px;
}

.icon-pink {
  fill: rgb(219, 26, 84) !important;
  margin-bottom: -1px;
}

.input-icon-green {
  fill: rgb(0, 176, 0) !important;
  margin-bottom: -7px;
}

.input-icon-pink {
  fill: rgb(219, 26, 84) !important;
  margin-bottom: -7px;
}

.input-icon-grey {
  fill: rgb(214 214 214) !important;
  margin-bottom: -7px;
}

.add-sch {
  text-decoration: underline;
  color: #39aebc;
}

.dot_div {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 30px;
}

.segment-div .segment .segment-dropdown {
 
}

.fade{
  overflow: hidden !important; 
}
.modal-content{
  overflow-x: scroll !important;
}
.modal-content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.button-13{
  border: none;

  background: #f2fbf9;
  border-radius: 4px;
  margin-top: 6px;
}
.navbar-toggler{
  display: none;
}